<!-- NAVIGATION BAR -->
 
<header class="nav">
    <div class="nav-left">
        <!-- Club logo that links to home page -->
        <a href="index.php">
            <img 
                src="../../images/kiwi_kloset_logo.png" 
                alt="Kiwi Kloset Logo" 
                class="logo"
                style="width: auto; height: 90px;"    
            >
        </a>
    </div>
    <!-- Navigation menu items -->
    <ul class="nav-right">
        <li><a href="index.php">Home</a></li>
        <li id="search-id">
            <form action="rentals.php" method="GET" id="search-form">
                <input type="number" placeholder="Enter Costume ID" name="id" min="1" required>
                <button type="submit">Search</button>
            </form>
        </li>
        <li><a onclick="AddItem()">Add Item</a></li>
    </ul>
</header>